<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Bem-vindo</title>
</head>

<body>
  <h1>Seja bem-vindo!</h1>
  <form action="/" method="POST">
    <label style="font-size: large;" for="nome">Digita o seu nome:</label></> <br>
    <input type="text" name='nome'> <br> <br>
    <label style="font-size: large;" for="email">Digita o seu email:</label></> <br>
    <input type="text" name='email'> <br> <br>
    <button>Aperte aqui!</button>
  </form>
</body>

</html>