<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <title>Bem-vindo</title>
</head>

<body>
     <h1> Olá, <%= users[users.length-1].nome %> ! </h1>
     <h2>Seu email é: <%= users[users.length-1].email %> </h2> <br><br>
     <a href="/"><button>Voltar</button></a>
</body>

</html>